:root {
    --main: #413233;
    --primary: #C0353A;
    --secondary: #6B4143;
    --terciaria: #332C2C;
    --black: #000000;
    --white: #FFFFFF;

    --espacamento-lg: 2rem;
    --espacamento-md: 1.5rem;
    --espacamento-sm: 1rem;
    --raio-borda-md: 12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    background-color: var(--black);
    color: var(--white);
    position: sticky;
    width: clamp(180px, 15%, 250px);
    height: 100vh;
    top: 0;
    flex-shrink: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

header #header-left {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: var(--espacamento-md);
    padding-top: var(--espacamento-lg);
}

header #header-left img {
    width: 100%;
    width: 400px;
    height: auto;
    margin-bottom: var(--espacamento-sm);
    object-fit: cover;
}

header #header-left nav {
    width: 100%;
    flex-grow: 1;
}

header #header-left nav ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

header #header-left nav ul li {
    margin-bottom: 0.5rem;
}

header #header-left nav ul li a {
    color: var(--primary);
    text-decoration: none;
    font-size: clamp(1rem, 1.2vw, 1.1rem);
    display: block;
    padding: 0.5rem var(--espacamento-sm);
    transition: background-color 0.3s, color 0.3s;
}

header #header-left nav ul li a:hover{
    color: var(--white);
    font-weight: 600;
}

header #header-left nav ul li a.active{
    color: var(--white);
    font-weight: 600;
}
